<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Molla - Bootstrap eCommerce Template</title>
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Molla - Bootstrap eCommerce Template">
        <meta name="author" content="p-themes">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="public/assets/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="public/assets/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/assets/images/icons/favicon-16x16.png">
        <link rel="manifest" href="public/assets/images/icons/site">
        <link rel="mask-icon" href="public/assets/images/icons/safari-pinned-tab.svg" color="#666666">
        <link rel="shortcut icon" href="public/assets/images/icons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Molla">
        <meta name="application-name" content="Molla">
        <meta name="msapplication-TileColor" content="#cc9966">
        <meta name="msapplication-config" content="public/assets/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="public/assets/css/style.css">
        <link href="/public/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" href="/public/assets/css/style2.css">



        
    </head>

    <body>
        <div id="preloader"></div>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index" class="brand-wrap">
                    <img src="/public/assets/imgs/theme/logo.png" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside ">
                    <li class="menu-item ">
                        <a class="menu-link" href="dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="order">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Order</span>
                        </a>
                    </li>
                    
                    
     
                    <li class="menu-item active">
                        <a class="menu-link" href="product">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                    </li>

                    <li class="menu-item ">
                        <a class="menu-link" href="category">
                            <i class="icon material-icons md-category"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="users">
                            <i class="icon material-icons md-perm_identity"></i>
                            <span class="text">Users</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link " href="coupon">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Coupons</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="banner">
                            <i class="icon material-icons md-photo"></i>
                            <span class="text">Banner</span>
                        </a>
                    </li>
                    

                    <li class="menu-item mt-auto">
                        <a class="menu-link" href="logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/public/assets/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

   
            <section class="content-main py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="content-header">
                                <h2 class="content-title">Edit Product</h2>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form  id="productedit" method="post" action="/admin/editproduct?id=<%= product._id %>" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="product_title">Product Name</label>
                                            <input type="text" class="form-control" id="product_title" name="name" value="<%=product.name%>">
                                            <span class="text-danger" id="pnameError"> </span> 

                                        </div>
                                        <div class="form-group">
                                            <label for="quantity">Quantity</label>
                                            <input type="number" class="form-control" id="quantity" name="quantity" value="<%=product.quantity%>">
                                            <span class="text-danger" id="quantityError"></span>

                                        </div>


                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control"  name="category">
                                                <option value="<%= product.categoryId._id %>"><%= product.categoryId.name %></option>
                                                <% for (let i = 0; i < category.length; i++) { %>
                                                        <option value="<%= category[i]._id %>"><%= category[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="text" class="form-control" id="price" name="price" value="<%=product.price%>">
                                            <span class="text-danger" id="priceError"> </span> 

                                        </div>
                                        <div class="form-group">
                                            <label for="offer">Offer</label>
                                            <input type="text" class="form-control" value="<%=product.offer%>" id="offer" name="offer" >
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" class="form-control" value="<%=product.description%>" id="description" name="description" required>   
                                            <span class="text-danger" id="descriptionError"></span>

                                        </div>

                                        <div class="row mt-3">
                                            <% for (let i = 1; i <= 4; i++) { %>
                                                <div class="col-lg-3 col-md-6">
                                                    <label>Existing Image <%= i %></label>
                                                    <div class="rounded-image-preview" id="roundedImagePreview<%= i %>">
                                                        <% if (product.images['image' + i]) { %>
                                                            <img src="/public/assets/images/products/sharpened/<%= product.images['image' + i] %>" alt="Preview" />
                                                        <% } else { %>
                                                            <span class="image-not-found">Image not found</span>
                                                        <% } %>
                                                    </div>
                                                    <% if (product.images['image' + i]) { %>
                                                        <button type="button" class="btn btn-danger delete-btn" data-image-number="<%= i %>" data-image-name="<%= product.images['image' + i] %>">
                                                            <i class="fas fa-trash-alt"></i> Delete Image <%= i %>
                                                        </button>
                                                    <% } %>
                                                    <label for="addImage<%= i %>">
                                                        <input type="file" accept="image/*" id="addImage<%= i %>" class="add-image-input" name="cropedImages" data-image-number="<%= i %>" style="display: none" onchange="handleFileSelection(this, '<%= i %>')">
                                                        <button type="button" class="btn btn-success add-image-btn" data-image-number="<%= i %>">
                                                            <i class="fas fa-plus"></i> Add Image <%= i %>
                                                        </button>
                                                    </label>
                                                    
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="form-group mt-3">
                                            <button type="submit" id="editbutton" class="btn btn-primary">Submit</button>
                                            <a href="product" class="btn btn-primary">
                                                <span class="text">Back</span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <script>

    document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.delete-btn');
    const addImageButtons = document.querySelectorAll('.add-image-btn');
    const addImageInputs = document.querySelectorAll('.add-image-input');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function () {
            const imageNumber = this.getAttribute('data-image-name');
            const imageNumbers = this.getAttribute('data-image-number');
            confirmDelete(imageNumber, imageNumbers);
        });
    });

    addImageButtons.forEach((button, index) => {
        button.addEventListener('click', function () {
            addImageInputs[index].click();
        });
    });

    addImageInputs.forEach(input => {
        input.addEventListener('change', function () {
            const imageNumber = this.getAttribute('data-image-number');
            handleFileSelection(this.files[0], imageNumber);
        });
    });

    function handleFileSelection(file, imageNumber) {
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const roundedImagePreview = document.querySelector(`#roundedImagePreview${imageNumber}`);
                const imagePreview = roundedImagePreview.querySelector('img');

                if (!imagePreview) {
                    const newImage = document.createElement('img');
                    newImage.src = e.target.result;
                    roundedImagePreview.innerHTML = '';
                    roundedImagePreview.appendChild(newImage);
                } else {
                    imagePreview.src = e.target.result;
                }
            };
            reader.readAsDataURL(file);
        }
    }

    function confirmDelete(imageNumber, imageNumbers) {
    Swal.fire({
        title: `Are you sure you want to delete Image ${imageNumbers}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`/admin/deleteImage?id=<%= product._id %>&imageNumber=${imageNumber}&number=${imageNumbers}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    Swal.fire(
                        'Deleted!',
                        `Image ${imageNumbers} deleted successfully.`,
                        'success'
                    ).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire(
                        'Error!',
                        'Network response was not ok',
                        'error'
                    );
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
}

});

function submitForm(event) {
    event.preventDefault(); 

    const form = document.getElementById('productedit');
    const formData = new FormData(form);

    console.log([...formData.entries()]);
    fetch('/admin/editproduct?id=<%= product._id %>', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
      window.location.href = '/admin/product';
    } else {
      console.error('Error:', data.error);
    }    })
    .catch(error => {
        console.error('Form submission error', error);
    });
}

function handleFileSelection(input, imageNumber) {
    const file = input.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
        const preview = document.querySelector(`#roundedImagePreview${imageNumber} img`);
        if (preview) {
            preview.src = e.target.result;
        } else {
            const newImage = document.createElement('img');
            newImage.src = e.target.result;
            document.querySelector(`#roundedImagePreview${imageNumber}`).appendChild(newImage);
        }
    };

    reader.readAsDataURL(file);
}

            </script>
            



           
            
     <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/public/assets/js/loader.js"></script>
        <script src="/public/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/public/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/vendors/select2.min.js"></script>
        <script src="/public/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/public/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/public/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
