<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .card-body {
            padding: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card-body">
            <h2 style="text-align: center;">Sales Report</h2>
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Billing Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Total</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.forEach(order => { %>
                            <% order.products.forEach(product => { %>
                                <tr>
                                    <td><a class="fw-bold"><%= order._id.toString().substring(6, 12).toUpperCase() %></a></td>
                                    <td><%= order?.userId?.name %></td>
                                    <td><%= new Date(order.purchaseDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                    <td>$<%= product.price.toFixed(2) %></td>
                                    <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= order.paymentMethod %></td>
                                </tr>
                            <% }); %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
