<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/public/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index" class="brand-wrap">
                    <img src="/public/assets/imgs/icons/starts-disable.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside ">
                    <li class="menu-item ">
                        <a class="menu-link" href="dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>

                    <li class="menu-item active">
                        <a class="menu-link" href="order">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Order</span>
                        </a>
                    </li>
                    
                    
     
                    <li class="menu-item ">
                        <a class="menu-link" href="product">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                    </li>

                    <li class="menu-item ">
                        <a class="menu-link" href="category">
                            <i class="icon material-icons md-category"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="users">
                            <i class="icon material-icons md-perm_identity"></i>
                            <span class="text">Users</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link " href="coupon">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Coupons</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="banner">
                            <i class="icon material-icons md-photo"></i>
                            <span class="text">Banner</span>
                        </a>
                    </li>
                    

                    <li class="menu-item mt-auto">
                        <a class="menu-link" href="logout">
                            <i class="icon material-icons md-exit_to_app"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/public/assets/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="/public/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID: <%= order._id.toString().substring(0, 6) %></p>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span> <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b> </span> <br />
                                <small class="text-muted">Order ID: <%= order._id.toString().substring(0, 6) %></small>
                            </div>
                            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                <a class="btn btn-primary" href="#">Save</a>
                                <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                            </div>
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%= order.deliveryDetails.fullName %> <br />
                                            <%= order.deliveryDetails.email %> <br />
                                            <%= order.deliveryDetails.phone %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            <%= order.paymentMethod %> <br />
                                            Amount:<%= order.totalAmount %> <br />
                                            Status: new
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: <%= order.deliveryDetails.city %> <br /><%= order.deliveryDetails.housename %><br />
                                            <%= order.deliveryDetails.pincode %>                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-lg">
                                <div class="table-responsive" id="reload">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="23%">Product</th>
                                                <th width="15%">Unit Price</th>
                                                <th width="15%">Quantity</th>
                                                <th width="12%" >Total</th>
                                                <th width="15%">Order Status</th>
                                                <th width="20%">Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% order.products.forEach(product => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/public/assets/images/products/sharpened/<%= product.productId.images.image1 %>" width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>
                                                            <div class="info"><%= product.productId.name %></div>
                                                        </a>
                                                    </td>
                                                    <td><%= product.price %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td ><%= product.totalPrice %></td>
                                                    <td>
                                                        <% if (product.productstatus === 'placed') { %>
                                                            <span class="badge rounded-pill alert-primary text-primary">Placed</span>
                                                        <% } else if (product.productstatus === 'Shipped') { %>
                                                            <span class="badge rounded-pill alert-info text-info">Shipped</span>
                                                        <% } else if (product.productstatus === 'Out for Delivery') { %>
                                                            <span class="badge rounded-pill alert-warning text-warning">Out for Delivery</span>
                                                        <% } else if (product.productstatus === 'Delivered') { %>
                                                            <span class="badge rounded-pill alert-success text-success">Delivered</span>
                                                        <% } else if (product.productstatus === 'cancel') { %>
                                                            <span class="badge rounded-pill alert-danger text-danger">Cancelled</span>
                                                        <% } else if (product.productstatus === 'Return') { %>
                                                            <span class="badge rounded-pill alert-secondary text-secondary">Returned</span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200" id="orderstatus" onchange="changeProductStatus('<%= product._id %>','<%=order._id%>')" <%= product.productstatus === 'cancel' || product.productstatus === 'Return' ? 'disabled' : '' %>>
                                                            <option value="placed" <%= product.productstatus === 'placed' ? 'selected' : '' %>>Placed</option>
                                                            <option value="Shipped" <%= product.productstatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                                            <option value="Out for Delivery" <%= product.productstatus === 'Out for Delivery' ? 'selected' : '' %>>Out for Delivery</option>
                                                            <option value="Delivered" <%= product.productstatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                                        </select>
                                                        
                                                        
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <tr>
                                                <td colspan="6">
                                                    <article class="float-end">
                                                        <dl class="dlist">
                                                            <dt>Grand total:</dt>
                                                            <dd><b class="h5"><%= order.totalAmount %></b></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt class="text-muted">Status:</dt>
                                                            <% if (order.paymentMethod === "onlinePayment") { %>
                                                                <dd>
                                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                                </dd>
                                                            <% } else { %>
                                                                <dd>
                                                                    <span class="badge rounded-pill alert-warning text-warning">No payment</span>
                                                                </dd>
                                                            <% } %>
                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <script>
    function changeProductStatus(productId,id) {
    const newStatus = $('#orderstatus').val();
    console.log(newStatus, productId,id);
    $.ajax({
        url: '/admin/updateProductStatus',
        method: 'POST',
        data: { productId, newStatus },
        success: function (response) {

            if (response.success) {
                $('#reload').load(`/admin/showorder?id=${id} #reload`);
            } else {
                swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Somthing happened",
                });
            }
        },
        error: function (error) {
            console.error('Error updating product status:', error);
        }
    });
}

            </script>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/public/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/public/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/vendors/select2.min.js"></script>
        <script src="/public/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/public/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="/public/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
