<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout  22 Nov 2019 09:55:06 GMT -->

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Molla - Bootstrap eCommerce Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Molla - Bootstrap eCommerce Template">
	<meta name="author" content="p-themes">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="public/assets/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="public/assets/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="public/assets/images/icons/favicon-16x16.png">
	<link rel="manifest" href="public/assets/images/icons/site">
	<link rel="mask-icon" href="public/assets/images/icons/safari-pinned-tab.svg" color="#666666">
	<link rel="shortcut icon" href="public/assets/images/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Molla">
	<meta name="application-name" content="Molla">
	<meta name="msapplication-TileColor" content="#cc9966">
	<meta name="msapplication-config" content="public/assets/images/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
	<!-- Main CSS File -->
	<link rel="stylesheet" href="public/assets/css/style.css">
</head>

<body>
	<div class="page-wrapper">
		<header class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-left">
						<div class="header-dropdown">
							<a href="#">Usd</a>
							<div class="header-menu">
								<ul>
									<li><a href="#">Eur</a></li>
									<li><a href="#">Usd</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropdown -->

						<div class="header-dropdown">
							<a href="#">Eng</a>
							<div class="header-menu">
								<ul>
									<li><a href="#">English</a></li>
									<li><a href="#">French</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropdown -->
					</div><!-- End .header-left -->

					<div class="header-right">
						<ul class="top-menu">
							<li>
								<a href="#">Links</a>
								<ul>
									<li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
									<li><a href="wishlist"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a>
									</li>
									<li><a href="about">About Us</a></li>
									<li><a href="contact">Contact Us</a></li>
									<li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a>
									</li>
								</ul>
							</li>
						</ul><!-- End .top-menu -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-top -->

			<div class="header-middle sticky-header">
				<div class="container">
					<div class="header-left">
						<button class="mobile-menu-toggler">
							<span class="sr-only">Toggle mobile menu</span>
							<i class="icon-bars"></i>
						</button>

						<a href="index" class="logo">
							<img src="public/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
						</a>

						<nav class="main-nav">
							<ul class="menu sf-arrows">
								<li class="megamenu-container active">
									<a href="/">Home</a>
								</li>

								<li>
									<a href="shop">Shop</a>

								</li>

								<li>
									<a href="#" class="sf-with-ul">Pages</a>

									<ul>
										<li>
											<a href="about">About</a>
										</li>
										<li>
											<a href="contact">Contact</a>
										</li>
										<li><a href="login">Login</a></li>
										<li><a href="faq">FAQs</a></li>
									</ul>
								</li>

							</ul><!-- End .menu -->
						</nav><!-- End .main-nav -->
					</div><!-- End .header-left -->

					<div class="header-right">
						<div class="dropdown cart-dropdown">
							<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" data-display="static">
								<i class="icon-shopping-cart"></i>
								<span class="cart-count">2</span>
							</a>
						</div>
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-middle -->
		</header><!-- End .header -->

		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/cart">Cart</a></li>
						<li class="breadcrumb-item active" aria-current="/checkout">Checkout</li>
					</ol>
				</div><!-- End .container -->
			</nav><!-- End .breadcrumb-nav -->

			<div class="page-content">
				<div class="checkout">
					<div class="container">
						<div class="checkout-discount">
							<form action="#">
								<input type="text" class="form-control" id="checkout-discount-input">
								<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
										here to enter your code</span></label>
							</form>
						</div>
						<% if (addresses && addresses.address && addresses.address.length > 0) { %>
							<div class="row">
								<% addresses.address.forEach(function(address, index) { %>
									<div class="col-lg-6">
										<div class="card card-dashboard">
											<div class="card-body">
												<input type="radio" name="address" value="<%= index %>" <%= index === 0 ? 'checked' : '' %> >
												<h3 class="card-title">Address <%= index + 1 %></h3>
												<p>
													Name: <%= address.fullName %><br>
													Email: <%= address.email %><br>
													Mobile: <%= address.mobile %><br>
													State: <%= address.state %><br>
													City: <%= address.city %><br>
													House Name: <%= address.houseName %><br>
													Pincode: <%= address.pin %><br>
													<a href="/editAddress?ind=<%= index %>">Edit <i class="icon-edit"></i></a>
												</p>
											</div>
										</div>
									</div>
								<% }); %>
							</div>
						<% } else { %>
								<form action="/addaddress" method="post">
									<div class="row">
										<div class="col-lg-9 billing-details">
											<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->

											<div class="form-group">
												<label for="fullName">Full Name *</label>
												<input type="text" class="form-control" id="fullName" name="fullName">
											</div>

											<div class="form-group">
												<label for="country">Country *</label>
												<input type="text" class="form-control" id="country" name="country">
											</div>

											<div class="form-group">
												<label for="streetAddress">House name *</label>
												<input type="text" class="form-control" id="streetAddress"
													name="housename" placeholder="House number and Street name">
											</div>

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="stateCounty">State *</label>
														<input type="text" class="form-control" id="stateCounty"
															name="state">
													</div>
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<div class="form-group">
														<label for="townCity"> City *</label>
														<input type="text" class="form-control" id="townCity"
															name="city">
													</div>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="postcode">Pincode *</label>
														<input type="text" class="form-control" id="postcode"
															name="pincode">
													</div>
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<div class="form-group">
														<label for="phone">Phone *</label>
														<input type="tel" class="form-control" id="phone" name="phone">
													</div>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->

											<div class="form-group">
												<label for="email">Email *</label>
												<input type="email" class="form-control" id="email" name="email">
											</div>

											<!-- Add more styling and design elements as needed -->

										</div><!-- End .col-lg-9 -->

								</form>
								<% } %>
									<aside class="col-lg-3">
										<div class="summary">
											<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

											<table class="table table-summary">
												<thead>
													<tr>
														<th>Product</th>
														<th>Total</th>
													</tr>
												</thead>
                                                <% cartData.product.forEach(product=> { %>

												<tbody>
													<tr>
														<td><%= product.productId.name%>(Set of <%= product.quantity %>)</td>
														<td>₹<%= product.productId.price%></td>
													</tr>
                                                    <% }); %>

													<tr class="summary-subtotal">
														<td>Subtotal:</td>
														<td>₹<%= subtotal %></td>
													</tr><!-- End .summary-subtotal -->
													<tr>
														<td>Shipping:</td>
														<td>Free shipping</td>
													</tr>
													<tr class="summary-total">
														<td>Total:</td>
														<td>₹<%= subtotal %></td>
													</tr><!-- End .summary-total -->
												</tbody>
											</table><!-- End .table table-summary -->

											<div class="accordion-summary" id="accordion-payment">
												<div class="card">
													<div class="card-header" id="heading-1">
														<h2 class="card-title">
															<a role="button" data-toggle="collapse" href="#collapse-1"
																aria-expanded="true" aria-controls="collapse-1">
																Direct bank transfer
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-1" class="collapse show"
														aria-labelledby="heading-1" data-parent="#accordion-payment">
														<div class="card-body">
															Make your payment directly into our bank account. Please use
															your Order ID as the payment reference. Your order will not
															be shipped until the funds have cleared in our account.
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->

												<div class="card">
													<div class="card-header" id="heading-2">
														<h2 class="card-title">
															<a class="collapsed" role="button" data-toggle="collapse"
																href="#collapse-2" aria-expanded="false"
																aria-controls="collapse-2">
																Check payments
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-2" class="collapse" aria-labelledby="heading-2"
														data-parent="#accordion-payment">
														<div class="card-body">
															Ipsum dolor sit amet, consectetuer adipiscing elit. Donec
															odio. Quisque volutpat mattis eros. Nullam malesuada erat ut
															turpis.
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->

												<div class="card">
													<div class="card-header" id="heading-3">
														<h2 class="card-title">
															<a class="collapsed" role="button" data-toggle="collapse"
																href="#collapse-3" aria-expanded="false"
																aria-controls="collapse-3">
																Cash on delivery
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-3" class="collapse" aria-labelledby="heading-3"
														data-parent="#accordion-payment">
														<div class="card-body">Quisque volutpat mattis eros. Lorem ipsum
															dolor sit amet, consectetuer adipiscing elit. Donec odio.
															Quisque volutpat mattis eros.
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->

												<div class="card">
													<div class="card-header" id="heading-4">
														<h2 class="card-title">
															<a class="collapsed" role="button" data-toggle="collapse"
																href="#collapse-4" aria-expanded="false"
																aria-controls="collapse-4">
																PayPal <small class="float-right paypal-link">What is
																	PayPal?</small>
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-4" class="collapse" aria-labelledby="heading-4"
														data-parent="#accordion-payment">
														<div class="card-body">
															Nullam malesuada erat ut turpis. Suspendisse urna nibh,
															viverra non, semper suscipit, posuere a, pede. Donec nec
															justo eget felis facilisis fermentum.
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->

												<div class="card">
													<div class="card-header" id="heading-5">
														<h2 class="card-title">
															<a class="collapsed" role="button" data-toggle="collapse"
																href="#collapse-5" aria-expanded="false"
																aria-controls="collapse-5">
																Credit Card (Stripe)
																<img src="public/assets/images/payments-summary.png"
																	alt="payments cards">
															</a>
														</h2>
													</div><!-- End .card-header -->
													<div id="collapse-5" class="collapse" aria-labelledby="heading-5"
														data-parent="#accordion-payment">
														<div class="card-body"> Donec nec justo eget felis facilisis
															fermentum.Lorem ipsum dolor sit amet, consectetuer
															adipiscing elit. Donec odio. Quisque volutpat mattis eros.
															Lorem ipsum dolor sit ame.
														</div><!-- End .card-body -->
													</div><!-- End .collapse -->
												</div><!-- End .card -->
											</div><!-- End .accordion -->

											<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
										</div><!-- End .summary -->
									</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
					<!-- </form> -->
				</div><!-- End .container -->
			</div><!-- End .checkout -->
	</div><!-- End .page-content -->
	</main><!-- End .main -->

	<footer class="footer">
		<div class="footer-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<div class="widget widget-about">
							<img src="public/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
								height="25">
							<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
								eros eu erat. </p>

							<div class="social-icons">
								<a href="#" class="social-icon" target="_blank" title="Facebook"><i
										class="icon-facebook-f"></i></a>
								<a href="#" class="social-icon" target="_blank" title="Twitter"><i
										class="icon-twitter"></i></a>
								<a href="#" class="social-icon" target="_blank" title="Instagram"><i
										class="icon-instagram"></i></a>
								<a href="#" class="social-icon" target="_blank" title="Youtube"><i
										class="icon-youtube"></i></a>
								<a href="#" class="social-icon" target="_blank" title="Pinterest"><i
										class="icon-pinterest"></i></a>
							</div><!-- End .soial-icons -->
						</div><!-- End .widget about-widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

					<div class="col-sm-6 col-lg-3">
						<div class="widget">
							<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

							<ul class="widget-list">
								<li><a href="about">About Molla</a></li>
								<li><a href="#">How to shop on Molla</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="contact">Contact us</a></li>
								<li><a href="login">Log in</a></li>
							</ul><!-- End .widget-list -->
						</div><!-- End .widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

					<div class="col-sm-6 col-lg-3">
						<div class="widget">
							<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

							<ul class="widget-list">
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back guarantee!</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul><!-- End .widget-list -->
						</div><!-- End .widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

					<div class="col-sm-6 col-lg-3">
						<div class="widget">
							<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

							<ul class="widget-list">
								<li><a href="#">Sign In</a></li>
								<li><a href="cart">View Cart</a></li>
								<li><a href="#">My Wishlist</a></li>
								<li><a href="#">Track My Order</a></li>
								<li><a href="#">Help</a></li>
							</ul><!-- End .widget-list -->
						</div><!-- End .widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</div><!-- End .footer-middle -->

		<div class="footer-bottom">
			<div class="container">
				<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
				<!-- End .footer-copyright -->
				<figure class="footer-payments">
					<img src="public/assets/images/payments.png" alt="Payment methods" width="272" height="20">
				</figure><!-- End .footer-payments -->
			</div><!-- End .container -->
		</div><!-- End .footer-bottom -->
	</footer><!-- End .footer -->
	</div><!-- End .page-wrapper -->
	<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

	<!-- Mobile Menu -->

	<!-- Plugins JS File -->
	<script src="public/assets/js/jquery.min.js"></script>
	<script src="public/assets/js/bootstrap.bundle.min.js"></script>
	<script src="public/assets/js/jquery.hoverIntent.min.js"></script>
	<script src="public/assets/js/jquery.waypoints.min.js"></script>
	<script src="public/assets/js/superfish.min.js"></script>
	<script src="public/assets/js/owl.carousel.min.js"></script>
	<!-- Main JS File -->
	<script src="public/assets/js/main.js"></script>
</body>


<!-- molla/checkout  22 Nov 2019 09:55:06 GMT -->

</html>