<form id="orderForm">
    <div class="row">
        <div class="col-lg-9 billing-details">
            <h2 class="checkout-title">Billing Details</h2>

            <div class="form-group">
                <label for="fullName">Full Name *</label>
                <input type="text" class="form-control" id="fullName" name="fullName">
            </div>

            <div class="form-group">
                <label for="country">Country *</label>
                <input type="text" class="form-control" id="country" name="country">
            </div>

            <div class="form-group">
                <label for="streetAddress">House name *</label>
                <input type="text" class="form-control" id="streetAddress" name="housename">
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="stateCounty">State *</label>
                        <input type="text" class="form-control" id="stateCounty" name="state">
                    </div>
                </div>
        
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="townCity"> City *</label>
                        <input type="text" class="form-control" id="townCity" name="city">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="postcode">Pincode *</label>
                        <input type="text" class="form-control" id="postcode" name="pincode">
                    </div>
                </div>
        
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phone">Phone *</label>
                        <input type="tel" class="form-control" id="phone" name="phone">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <aside class="col-lg-3 ">
            <div class="summary">
                <h3 class="summary-title">Your Order</h3>
                <table class="table table-summary"  id="reloadArea">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <% cartData.product.forEach(product=> { %>

                    <tbody>
                        <tr>
                            <td><%= product.productId.name%>(Set of <%= product.quantity %>)</td>
                            <td>₹<%= product.productId.price%></td>
                        </tr>
                        <% }); %>

                        <tr class="summary-subtotal">
                            <td>Subtotal:</td>
                            <td>₹<%= subtotal %></td>
                        </tr>
                        <tr>
                            <td>Shipping:</td>
                            <td>Free shipping</td>
                        </tr>
                        <% if (cartData.couponDiscount!=0 ) { %>
                            <tr>
                                <td class="text-danger">Coupon Discount:</td>
                                <td class="text-danger">-<%= cartData.couponDiscount.discountPercentage %>%</td>
                            </tr>
                            <% } %>
                        <tr class="summary-total">
                            <td>Total:</td>
                            <td>₹<%= discount %></td>
                        </tr>
                    </tbody>
                </table>

                <div class="accordion-summary" id="accordion-payment">
                    <div class="card">
                        <div class="card-body">
                            <%if(cartData.user.wallet>=discount){%>
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <input required type="radio"  id="walletRadio" name="payment" value="wallet" />
                                </div>
                                <label class="d-block text-dark" for="walletRadio">Wallet</label>
                            </div>
                            <%}else{%>
                                <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                        <input required type="radio" disabled  id="walletRadio" name="payment" value="wallet" />
                                    </div>
                                    <label class="d-block text-dark" for="walletRadio">Wallet <span class="text-danger text-sm">(Due to insufficient balance in wallet)</span></label>
                                </div>
                                <%}%>
                        </div>
                    </div>
                
                    
                
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <input required type="radio" id="onlinePaymentRadio" name="payment" value="onlinePayment"  />
                                </div>
                                <label class="d-block text-dark" for="onlinePaymentRadio">Online Payment</label>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <input required type="radio" id="codRadio" name="payment" value="COD" checked />
                                </div>
                                <label class="d-block text-dark" for="codRadio">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="placeOrderBtn" class="btn btn-outline-primary-2 btn-order btn-block">
                    <span class="btn-text">Place Order</span>
                    <span class="btn-hover-text">Proceed to Checkout</span>
                </button>
            </div>
        </aside>
    </div><!-- End .row -->
</form>